<div *ngIf="service.visibility" (click)="service.visibility = false" class="wrapper">
  <div class="container animate__animated animate__backInDown">
    <div class="title SummerHearts">
      Info
    </div>
    <div class="description">
      Willkommen bei anonym.email - dem perfekten Ort, um deine E-Mail-Adresse zu anonymisieren! Unsere Webseite bietet dir eine einfache Lösung, um deine persönliche E-Mail-Identität zu schützen. Hier kannst du deine echte E-Mail-Adresse eingeben und erhältst sofort einen einzigartigen Alias wie z.B. abcd@anonym.email generiert.
      <br>
      Mit unserem Service kannst du deine echte E-Mail-Adresse sicher und geschützt halten, während du dennoch uneingeschränkt mit anderen kommunizieren kannst. Verwende deinen neu generierten Alias, um dich bei verschiedenen Online-Diensten, Foren, sozialen Netzwerken oder sogar beim Einkaufen anzumelden, ohne deine persönliche E-Mail-Adresse preiszugeben. So bleibst du vor unerwünschter Werbung, Spam und anderen lästigen Nachrichten geschützt.
      <br>
      Unser Alias-System gewährleistet höchste Sicherheit und Anonymität. Wir behandeln deine Daten vertraulich und geben sie niemals an Dritte weiter. Deine Anonymität steht für uns an erster Stelle.
      <br>
      Mache Schluss mit der Sorge um Datenschutz und gib deine E-Mail-Adresse nicht mehr leichtfertig preis. Nutze anonym.email, um deine Online-Kommunikation sicherer und privater zu gestalten. Schütze deine persönlichen Informationen und behalte die Kontrolle über deine E-Mail-Korrespondenz.
      <br>
      Einfach, sicher und anonym - das ist anonym.email. Registriere dich noch heute und erlebe die Freiheit, deine E-Mails ohne Bedenken zu verschicken!
    </div>
  </div>
</div>
