.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.help {
  position: fixed;
  top: 32px;
  right: 32px;
  height: auto;
  width: auto;
}

.help > img {
  height: 45px;
  width: auto;
  &:hover {
    cursor: pointer;
  }
}

.title {
  height: auto;
  width: auto;
  font-size: 8vw;
}

.title > span {
  color: #00c2ff;
}

.legal {
  height: auto;
  width: 50%;
  font-size: 0.8rem;
  color: #555555;
  @media only screen and (max-width: 700px) {
    width: 90%;
    text-align: justify;
  }
}

.my-account {
  transition: 0.4s;
  background: #2574a7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: bolder;
  height: auto;
  width: auto;
  position: fixed;
  bottom: 32px;
  left: 32px;
  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}
