<div *ngIf="service.visibility" class="wrapper">
  <div class="container animate__animated animate__backInDown">
    <div class="title SummerHearts">
      Störung
    </div>
    <div class="description">
      Aufgrund vorübergehender Verbindungsprobleme kann es derzeit zu Einschränkungen beim Zugriff auf unsere Webseite kommen.
      Wir arbeiten bereits mit Hochdruck an einer Lösung für diese Kommunikationsprobleme mit dem Server.
      Bei Fragen oder technischen Problemen wenden Sie sich bitte an support@anonym.email. Vielen Dank für Ihr Verständnis.
    </div>
  </div>
</div>
